version 5.245.1
source https://api.nuget.org/v3/index.json
framework: auto-detect
storage: none

nuget Expecto >= 8.0
nuget FSharp.Core >= 4.0
nuget FSharp.SystemTextJson
nuget Microsoft.NET.Test.Sdk >= 16.0
nuget NJsonSchema
nuget YoloDev.Expecto.TestSdk
